.button-container {
  display: flex; /* Add Flexbox layout */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  padding: 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }

  /* Responsive styles */
  @media screen and (max-width: 768px) {
    min-width: 120px;
    height: 45px;
    font-size: 14px;
    padding: 0 25px;
  }

  @media screen and (max-width: 480px) {
    min-width: 100px;
    height: 40px;
    font-size: 13px;
    padding: 0 20px;
  }

  @media screen and (max-width: 320px) {
    min-width: 90px;
    height: 35px;
    font-size: 12px;
    padding: 0 15px;
  }
}
