.checkout-item-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 0.5fr;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid darkgrey;
  font-size: 18px;

  .image-container {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .name,
  .quantity,
  .price {
    text-align: center;
  }

  .quantity {
    display: flex;
    align-items: center;
    justify-content: center;

    .arrow {
      cursor: pointer;
      padding: 0 10px;
    }

    .value {
      margin: 0 10px;
    }
  }

  .remove {
    text-align: center;
    cursor: pointer;
  }

  // Responsive Styles
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr 1.5fr 1fr 1fr 0.5fr;
    font-size: 16px;
  }

  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr 1fr 0.5fr;
    font-size: 14px;

    .quantity {
      .arrow {
        padding: 0 5px;
      }
      .value {
        margin: 0 5px;
      }
    }
  }
}
