.cart-item-container {
  width: 100%;
  display: flex;
  height: 80px;
  margin-bottom: 15px;

  img {
    width: 30%;
    border-radius: 5px;
    object-fit: cover;
  }

  .item-details {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;

    .name {
      font-size: 16px;
    }
  }

  // Tablet view
  @media screen and (max-width: 768px) {
    height: 70px;
    margin-bottom: 10px;

    img {
      width: 25%;
    }

    .item-details {
      width: 75%;
      padding: 8px 15px;

      .name {
        font-size: 14px;
      }
    }
  }

  // Mobile view
  @media screen and (max-width: 480px) {
    width: 50%;

    flex-direction: row;
    height: auto;
    margin-bottom: 10px;
    padding: 10px 0;
    align-items: center;

    img {
      width: 80%;
      height: auto;
      margin-bottom: 10px;
    }

    .item-details {
      width: 100%;
      padding: 5px 10px;
      align-items: center;

      .name {
        font-size: 13px;
        text-align: center;
      }
    }
  }

  // Small mobile view
  @media screen and (max-width: 320px) {
    .item-details {
      padding: 5px;
      .name {
        font-size: 12px;
      }
    }
  }
}
